.flag {
    width: 30px;
}

.required {
    color: red;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.social_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social_signIn{
    text-align: center;
}

.bangladeshMap{
    width: 50%;
}

.sign_first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0.7;
    color: orangered;
    font-weight: 600;
}

.cod {
    width: 100%;
}

.error {
    color: red;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 600;
}