@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

* {
    font-family: 'Mina', sans-serif;
}

.title {
    color: green;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .localTime {
        display: none;
    }

    .section {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .info {
        margin-top: 0;
    }

    .authorName {
        display: none;
    }

}
@media only screen and (max-width: 1024px) {

    .details_card {
        background: rgb(245, 245, 245);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .section {
        margin-top: 8rem;
        margin-bottom: 5rem;
    }

    .details_card {
        background: rgb(245, 245, 245);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }

}

svg {
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
}

.profile_data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_data img {
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.profile_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    background: rgb(228, 228, 228);
    padding: 5px 30px;
    border-radius: 4px;
}

.edit {
    cursor: pointer;
}

.book_info {
    display: flex;
    align-items: center;
}

.manage_button {
    text-align: center;
}

.success_card {
    display: flex;
}

.success_image {
    object-fit: cover;
}

.success_product {
    display: flex;
    align-items: center;
    text-align: center;
}

.success_message {
    text-align: center;
    color: green;
    font-weight: 600;
}

.success_product_top,
.serial {
    font-weight: 600;
}

.print{
    text-align: right;
}

.bold {
    font-weight: 600;
}

.failed_message{
    color: red;
    font-weight: 600;
    text-align: center;
}

.book_name {
    font-weight: 600;
    letter-spacing: 1px;
}

.suggestion_image{
    width: 100px;
}

.suggestion_card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000;
}

.sugg_info{
    text-decoration: none !important;
}

.spinner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spinner img {
    width: 150px;
  }

