@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

* {
    font-family: 'Mina', sans-serif;
}

.title {
    color: green;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .localTime {
        display: none;
    }

    .section {
        margin-top: 5rem;
    }

    .info {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .section {
        margin-top: 8rem;
    }

}

svg {
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
}

.profile_data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_data img {
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.profile_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    background: rgb(228, 228, 228);
    padding: 5px 30px;
    border-radius: 4px;
}

.edit {
    cursor: pointer;
}

.jahid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}